<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleLocalizations</key>
	<array>
		<string>bg-BG</string>
		<string>zh-Hans</string>
		<string>zh-Hant-HK</string>
		<string>zh-Hant-TW</string>
		<string>hr-HR</string>
		<string>cs-CZ</string>
		<string>da-DK</string>
		<string>nl-NL</string>
		<string>en-AU</string>
		<string>en-IN</string>
		<string>en-IE</string>
		<string>en-NZ</string>
		<string>en-SG</string>
		<string>en-GB</string>
		<string>en-US</string>
		<string>et-EE</string>
		<string>fil-PH</string>
		<string>fi-FI</string>
		<string>fr-CA</string>
		<string>fr-FR</string>
		<string>de-DE</string>
		<string>el-GR</string>
		<string>hu-HU</string>
		<string>id-ID</string>
		<string>it-IT</string>
		<string>ja-JP</string>
		<string>ko-KR</string>
		<string>lv-LV</string>
		<string>lt-LT</string>
		<string>ms-MY</string>
		<string>mt-MT</string>
		<string>nb-NO</string>
		<string>pl-PL</string>
		<string>pt-BR</string>
		<string>pt-PT</string>
		<string>ro-RO</string>
		<string>sk-SK</string>
		<string>sl-SI</string>
		<string>es-AR</string>
		<string>es-BR</string>
		<string>es-419</string>
		<string>es-MX</string>
		<string>es-ES</string>
		<string>sv-SE</string>
		<string>th-TH</string>
		<string>tr-TR</string>
		<string>vi-VN</string>
	</array>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>UIAppFonts</key>
	<array>
		<string>Handjet-Regular.ttf</string>
		<string>Handjet-Bold.ttf</string>
	</array>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
