<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PaymentSheetExample.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>C22FD3A9A1AB0D30051876DB8E99DFBC002F6D97</string>
				<key>dateExpires</key>
				<string>10/30/26</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C22FD3A9A1AB0D30051876DB8E99DFBC002F6D97</string>
						<key>dateExpires</key>
						<string>10/30/26</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Stripe3DS2.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y28TH9SHX7</string>
						<key>name</key>
						<string>Stripe Inc</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>25.13.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C22FD3A9A1AB0D30051876DB8E99DFBC002F6D97</string>
						<key>dateExpires</key>
						<string>10/30/26</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>StripeApplePay.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y28TH9SHX7</string>
						<key>name</key>
						<string>Stripe Inc</string>
					</dict>
					<key>versionNumber</key>
					<string>25.13.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>25.13.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C22FD3A9A1AB0D30051876DB8E99DFBC002F6D97</string>
						<key>dateExpires</key>
						<string>10/30/26</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>StripeCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y28TH9SHX7</string>
						<key>name</key>
						<string>Stripe Inc</string>
					</dict>
					<key>versionNumber</key>
					<string>25.13.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>25.13.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C22FD3A9A1AB0D30051876DB8E99DFBC002F6D97</string>
						<key>dateExpires</key>
						<string>10/30/26</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>StripeFinancialConnections.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y28TH9SHX7</string>
						<key>name</key>
						<string>Stripe Inc</string>
					</dict>
					<key>versionNumber</key>
					<string>25.13.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>25.13.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C22FD3A9A1AB0D30051876DB8E99DFBC002F6D97</string>
						<key>dateExpires</key>
						<string>10/30/26</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>StripePaymentSheet.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y28TH9SHX7</string>
						<key>name</key>
						<string>Stripe Inc</string>
					</dict>
					<key>versionNumber</key>
					<string>25.13.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>25.13.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C22FD3A9A1AB0D30051876DB8E99DFBC002F6D97</string>
						<key>dateExpires</key>
						<string>10/30/26</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>StripePayments.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y28TH9SHX7</string>
						<key>name</key>
						<string>Stripe Inc</string>
					</dict>
					<key>versionNumber</key>
					<string>25.13.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>25.13.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C22FD3A9A1AB0D30051876DB8E99DFBC002F6D97</string>
						<key>dateExpires</key>
						<string>10/30/26</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>StripePaymentsUI.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y28TH9SHX7</string>
						<key>name</key>
						<string>Stripe Inc</string>
					</dict>
					<key>versionNumber</key>
					<string>25.13.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>25.13.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C22FD3A9A1AB0D30051876DB8E99DFBC002F6D97</string>
						<key>dateExpires</key>
						<string>10/30/26</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>StripeUICore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y28TH9SHX7</string>
						<key>name</key>
						<string>Stripe Inc</string>
					</dict>
					<key>versionNumber</key>
					<string>25.13.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>Y28TH9SHX7.com.stripe.PaymentSheet-Example</string>
				<key>com.apple.developer.devicecheck.appattest-environment</key>
				<string>production</string>
				<key>com.apple.developer.in-app-payments</key>
				<array>
					<string>merchant.com.stripe.umbrella.test</string>
				</array>
				<key>com.apple.developer.team-identifier</key>
				<string>Y28TH9SHX7</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>PaymentSheetExample.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>340bf8a9-07a6-4792-8926-85083a9c35c2</string>
				<key>dateExpires</key>
				<string>11/19/26</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: com.stripe.PaymentSheet-Example</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>Y28TH9SHX7</string>
				<key>name</key>
				<string>Stripe Inc</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
