build/*
build-static/*
Example/Carthage/*
Example/Cartfile.resolved
Carthage/*
Tests/build/*
Tests/installation_tests/cocoapods/**/Podfile.lock
Tests/installation_tests/cocoapods/**/Pods
Tests/installation_tests/cocoapods/**/build
Tests/installation_tests/manual_installation/build
Tests/installation_tests/manual_installation/ManualInstallationTest/Frameworks/Stripe.framework
Tests/installation_tests/manual_installation/ManualInstallationTest/Frameworks/Stripe.bundle
Tests/installation_tests/carthage/Cartfile
Tests/installation_tests/carthage/Cartfile.resolved
Tests/installation_tests/carthage/Carthage/*

*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.swp
*.moved-aside
*.xcscmblueprint
.idea

.DS_Store
profile
DerivedData

xcuserdata/

jazzy
jazzy/*
docs/docs/undocumented.json
fastlane/report.xml
fastlane/test_output

.build
.swiftpm
