language: objective-c
osx_image: xcode7.3


env:
  - TEST_TYPE=lint
  - TEST_TYPE=tests
  - TEST_TYPE=installation
  global:
    secure: gZMOaHQIeG7nplBCuH7EKf9o6Ez2rtoSskrv3nOTziSxFfZq322MrxvkidDpEN7AKWYQm27FO+tCzgq0slXb578lQ9P5ySDwEdExKtk/jMtKsBsf3cr4dzSMiqV5D5TbsH2jE9HQlpYUoJeoMBicR2XsTmd7wiu2jAzNBFqGfiY=

before_install:
  - gem update cocoapods --no-ri --no-rdoc
  - gem install xcpretty --no-ri --no-rdoc
  - SIMULATOR_ID=$(xcrun instruments -s | grep -o "iPhone 6 (9.3) \[.*\]" | grep -o "\[.*\]" | sed "s/^\[\(.*\)\]$/\1/")

script:
  - open -a "simulator" --args -CurrentDeviceUDID $SIMULATOR_ID
  - "./ci_scripts/check_version.rb"
  - "[ "$TEST_TYPE" = lint ] && ./ci_scripts/install_fauxpas.sh && ./ci_scripts/check_fauxpas.sh"
  - "[ "$TEST_TYPE" = tests ] && set -o pipefail && xcodebuild test -workspace Stripe.xcworkspace -scheme \"StripeiOS Tests\" -configuration Debug -sdk iphonesimulator | xcpretty -c"
  - "[ "$TEST_TYPE" = tests ] && set -o pipefail && xcodebuild test -workspace Stripe.xcworkspace -scheme \"Stripe iOS Application Tests\" -configuration Debug -sdk iphonesimulator -destination \"OS=9.3,name=iPhone 6\" | xcpretty -c"
  - "[ "$TEST_TYPE" = tests ] && set -o pipefail && xcodebuild build -workspace Stripe.xcworkspace -scheme \"Stripe iOS Example (Simple)\" -sdk iphonesimulator | xcpretty -c"
  - "[ "$TEST_TYPE" = tests ] && set -o pipefail && xcodebuild build -workspace Stripe.xcworkspace -scheme \"Stripe iOS Example (Custom)\" -sdk iphonesimulator | xcpretty -c"
  - "[ "$TEST_TYPE" = installation ] && ./Tests/installation_tests/cocoapods/with_frameworks/test.sh"
  - "[ "$TEST_TYPE" = installation ] && ./Tests/installation_tests/cocoapods/without_frameworks/test.sh"
  - "[ "$TEST_TYPE" = installation ] && ./Tests/installation_tests/manual_installation/test.sh"
  - "[ "$TEST_TYPE" = installation ] && ./Tests/installation_tests/carthage/test.sh"
