<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.apple.developer.in-app-identity-presentment</key>
	<dict>
		<key>document-types</key>
		<array>
			<string>us-drivers-license</string>
			<string>photo-id</string>
		</array>
		<key>elements</key>
		<array>
			<string>given-name</string>
			<string>family-name</string>
			<string>portrait</string>
			<string>address</string>
			<string>issuing-authority</string>
			<string>document-expiration-date</string>
			<string>document-issue-date</string>
			<string>document-number</string>
			<string>date-of-birth</string>
		</array>
	</dict>
	<key>com.apple.developer.in-app-identity-presentment.merchant-identifiers</key>
	<array>
		<string>merchant.com.stripe.IdentityVerification-Example</string>
	</array>
</dict>
</plist>
