name: Verify public interface
on:
  pull_request:
    types: [opened, labeled, unlabeled, synchronize]
    paths:
      - '**/*.swift'
      - '!StripeFinancialConnections/**'
      - '!StripeIdentity/**'
      - '!StripeConnections/**'

jobs:
  public-api-check:
    runs-on: macos-14
    permissions:
      pull-requests: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        with:
            fetch-depth: 0

      - name: Build frameworks and compare interfaces
        id: build-frameworks-compare-interface
        run: |
          ruby ci_scripts/api_diff/build_xcframeworks.rb
          ruby ci_scripts/api_diff/diff_public_interface.rb
          echo "::set-output name=diff::$(<diff_result.txt)"
  
      - name: Exit if no public API changes
        id: check_diff
        run: |
          if [ -z "${{ steps.build-frameworks-compare-interface.outputs.diff }}" ]; then
            echo "No public API changes detected, exiting..."
            exit 0
          else
            echo "Public API changes detected, continue workflow..."
          fi

      - uses: peter-evans/find-comment@v1
        id: find_comment
        with:
          issue-number: ${{ github.event.pull_request.number }}
          body-includes: Public API changes detected

      - uses: peter-evans/create-or-update-comment@v1
        id: create-update-comment
        if: steps.build-frameworks-compare-interface.outputs.diff
        with:
          body: |
            ⚠️ Public API changes detected:

            ```diff
            ${{ steps.build-frameworks-compare-interface.outputs.diff }}
            ```

            If you are adding a new public API consider the following:
            - Do these APIs need to be `public` or can they be protected with `@_spi(STP)`?
            - If these APIs need to be `public`, assess whether they require an API review.
            
            If you are modifying or removing a public API:
            - Does this require a breaking version change?
            - Do these changes require API review?

            If you confirm these APIs need to be added/updated and have undergone necessary review, add the label `modifies public API` to this PR to acknowledge and bypass this check.
          edit-mode: replace
          comment-id: ${{ steps.find_comment.outputs.comment-id }}
          issue-number: ${{ github.event.pull_request.number }}
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Fail if not acknowledged
        if: "steps.build-frameworks-compare-interface.outputs.diff && !contains(github.event.pull_request.labels.*.name, 'modifies public API')"
        run: exit 1